<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- BOOTSTRAP CDN -->
     <%- include('./css/style'); %>
    <%- include('./css/style2'); %>
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('tap2')%>
    <div style = "padding: 100px;">
    <table class="table my-4" >
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">student id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><%= (locals.result)?result[0].name:'' %></td>
            <td><%= (locals.result)?result[0].user_id:'' %></td>
            <td><%= (locals.result)?result[0].product:'' %></td>
            <td><%= (locals.result)?result[0].date:'' %></td>
            <td><%= (locals.result)?result[0].status:'' %></td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>