<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>register</title>
  <%- include('./css/style'); %>
    <!-- BOOTSTRAP CDN -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <%- include('tap')%>
  <div class="image-login"></div>
  <center>
    <div class="col-sm-6">
      <div class="overall3">
        <div class="form">
          <div class="circle">
            <center>
              <h1>สมัครสมาชิก</h1>
            </center>
            <form action="/register" method="POST" novalidate>
              <div class="form-group">
                <label for="_rname">Name</label>
                <input type="text" name="user_name" id="_rname" class="form-control" placeholder="Name"
                  value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
              </div>
              <div class="form-group">
                <label for="_ruser">Student ID</label>
                <input type="text" name="user_user" id="_ruser" class="form-control" placeholder="ID"
                  value="<%= (locals.old_data) ? old_data.user_user : ''; %>" required>
              </div>
              <div class="form-group">
                <label for="_remail" >Email</label>
                <input type="email" name="user_email" id="_remail" class="form-control" placeholder="Email"
                  value="<%= (locals.old_data) ? old_data.user_email : ''; %>" required>
              </div>
              <div class="form-group">
                <label for="_rpass">Password</label>
                <input type="password" name="user_pass" id="_rpass" class="form-control" placeholder="Password"
                  required>
              </div>
              <% if (locals.register_error) { register_error.forEach(function(error_msg){ %>
                <div class="alert alert-danger" role="alert">
                  <%= error_msg %>
                </div>
                <% }); } %>
                  <button type="submit" class="btn btn-success">Sign Up</button>

            </form>

          </div>

        </div>
      </div><br>
    </div>
    
    
</body>

</html>